@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --white: #ffffff;
  --grey: #ececec;
  --black: #000000;
  --dark-blue: #6a89af;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  background-color: antiquewhite; /* remove */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--black);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}
