#side-menu {
  height: 90vh;
  width: 15vw;
  font-size: 1rem;
}

#side-menu__1,
#side-menu__2,
#side-menu__subscriptions {
  border-bottom: 2px solid var(--dark-blue);
}

.side-menu__title {
  margin: 1rem 0 0 1rem;
}

.side-menu__list {
  padding: 1rem 1rem 0 1rem;
}

.side-menu__item {
  margin-bottom: 1rem;
  padding-left: 1.7rem;
}

.side-menu__item::before {
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

#side-menu__show-more::before {
  background-image: url(../img/side-menu/arrow_down.png);
  width: 0.8rem;
  margin-top: 5px;
}

/* first section */
#side-menu__1 .side-menu__item:nth-child(1)::before {
  background-image: url(../img/side-menu/home.png);
}
#side-menu__1 .side-menu__item:nth-child(2)::before {
  background-image: url(../img/side-menu/explore.png);
  width: 1rem;
}
#side-menu__1 .side-menu__item:nth-child(3)::before {
  background-image: url(../img/side-menu/shorts.png);
}
#side-menu__1 .side-menu__item:nth-child(4)::before {
  background-image: url(../img/side-menu/subscriptions.png);
}
#side-menu__1 .side-menu__item:nth-child(5)::before {
  background-image: url(../img/side-menu/video_library.png);
}

/* second section */
#side-menu__2 .side-menu__item:nth-child(1)::before {
  background-image: url(../img/side-menu/history.png);
}
#side-menu__2 .side-menu__item:nth-child(2)::before {
  background-image: url(../img/side-menu/watch_later.png);
}
#side-menu__2 .side-menu__item:nth-child(3)::before {
  background-image: url(../img/side-menu/liked.png);
}

/* third section */
#side-menu__subscriptions .side-menu__item:nth-child(1)::before {
  background-image: url(../img/side-menu/Avatar_Alura.png);
}
#side-menu__subscriptions .side-menu__item:nth-child(2)::before {
  background-image: url(../img/side-menu/Avatar_Gaveta.png);
}
#side-menu__subscriptions .side-menu__item:nth-child(3)::before {
  background-image: url(../img/side-menu/Avatar_Jovem_Nerd.png);
}

/* fourth section */
#side-menu__more .side-menu__item:nth-child(1)::before {
  background-image: url(../img/side-menu/premium.png);
}
#side-menu__more .side-menu__item:nth-child(2)::before {
  background-image: url(../img/side-menu/films.png);
}
#side-menu__more .side-menu__item:nth-child(3)::before {
  background-image: url(../img/side-menu/games.png);
}
