#videos-section {
  height: 90vh;
  width: 85vw;
}

/* top-menu */

#videos__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 300px;
  grid-auto-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 1rem;
  row-gap: 40px;
  padding: 1rem;
}

.videos__video {
  height: 35vh;
  width: 100%;
}

.video__iframe {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.video__description {
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.video__image {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.video__image img {
  height: 40px;
  width: 40px;
}

.video__title {
  display: -webkit-box;
  width: 80%;
  padding: 1rem 0 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video__views {
  height: 40%;
  width: 80%;
  padding: 0.5rem 0 0 0.5rem;
}
